body {
  margin: 0;
  overflow-x: hidden;
}

#tudo {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
}

#barra-principal {
  position: static;
  background-color: red;
  width: 100vw;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#caixa-logo {
background-color: aqua;
width: 169px;
height: 56px;
margin-left: 12px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

#caixa-barras-expansao {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#barras-expansao {
  width: 24px;
  height: 24px;
  background-color: black;
}

#caixa-logo-youtube {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 120px;
  padding: 10px;
}

#logo-youtube {
  height: 20px;
  width: 100px;
  background-color: black;
}

#caixa-pesquisa {
  background-color: yellow;
  height: 56px;
  width: 728px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

#barra-pesquisa {
  background-color: blue;
  height: 40px;
  width: 538px;
  display: flex;
  align-items: center;
  justify-content: end;
}

#caixa-tecladinho {
  background-color:chartreuse;
  height: 24px;
  width: 27px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tecladinho {
  background-color: red;
  height: 11px;
  width: 19px;
}

#caixa-lupa {
  background-color: cyan;
  height: 40px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lupa {
  background-color: green;
  height: 24px;
  width: 24px;
}

#caixa-mic {
  background-color: darkmagenta;
  height: 40px;
  width: 40px;
  margin-left: 8px;
}

#bolinha-mic {
  background-color: beige;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mic {
  background-color: orange;
  height: 24px;
  width: 24px;
}

#caixa-icones {
  background-color: chartreuse;
  height: 40px;
  width: 204px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
}

#caixa-criar {
  background-color: pink;
  height: 40px;
  width: 40px;
  margin-left: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#criar {
  background-color: darkblue;
  height: 24px;
  width: 24px;
}

#caixa-apps-youtube {
  background-color: firebrick;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#apps-youtube {
  background-color: white;
  height: 24px;
  width: 24px;
}

#caixa-notificacao {
  background-color: fuchsia;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notificacao {
  background-color: saddlebrown;
  height: 24px;
  width: 24px;
}

#caixa-foto-google {
  background-color: darkgoldenrod;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#foto-google {
  background-color: darkorange;
  height: 32px;
  width: 32px;
  border-radius: 20px;
}

#fundo {
  background-color: pink;
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: row;
}

#barra-lateral {
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 72px;
  height: 100vw;
}

#caixa-inicio {
  background-color: black;
  width: 72px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#caixa-explorar {
  background-color: red;
  width: 72px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#caixa-shorts {
  background-color: darkblue;
  width: 72px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#caixa-inscricoes {
  background-color: darkgreen;
  width: 72px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#caixa-biblioteca{
  background-color: purple;
  width: 72px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#icone-inicio {
  background-color: purple;
  width: 24px;
  height: 24px;
  margin-top: 8px;
}

#p-inicio {
  margin: 6px;
  color: white;
}

#icone-explorar {
  background-color: darkgreen;
  width: 24px;
  height: 24px;
  margin-top: 8px;
}

#p-explorar {
  margin: 6px;
  color: white;
}

#icone-shorts {
  background-color: white;
  width: 24px;
  height: 24px;
  margin-top: 8px;
}

#p-shorts {
  margin: 6px;
  color: white;
}

#icone-inscricoes {
  background-color: red;
  width: 24px;
  height: 24px;
  margin-top: 8px;
}

#p-inscricoes {
  margin: 6px;
  color: white;
}

#icone-biblioteca {
  background-color: yellow;
  width: 24px;
  height: 24px;
  margin-top: 8px;
}

#p-biblioteca {
  margin: 6px;
  color: white;
}

#fundo-central {
  background-color: aqua;
  height: 100vw;
  width: 100vw;
  flex-direction: row;
}

#barra-sujestao {
  background-color: cadetblue;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

#botao-sujestao-tudo {
  height: auto;
  width: auto;
  margin-left: 28px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
}

#botao-sujestao {
  height: auto;
  width: auto;
  margin-right: 15px;
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
}

#caixa-botao-passar {
  position: absolute;
  margin-left: 1225px;
  width: 50px;
  height: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

#botao-passar {
  display: flex;
  justify-content: end;
  height: auto;
  width: auto;
  padding: 13px;
  border-radius: 25px;
  font-size: 15px;
}

#linha-videos {
  background-color: rgb(202, 193, 193);
  width: 1278px;
  height: 300.2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#caixa-videos {
  background-color: green;
  padding-left: 8px;
  padding-right: 8px;
  
  display: flex;
  flex-direction: column;
}


#caixa-video {
  background-color: red;
  height: 165.8px;
  width: 295.48px;
}

#detalhes-videos {
  background-color: yellow;
  height: 94px;
  width: 295.48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#foto-canal {
  background-color: palevioletred;
  width: 36px;
  height: 36px;
  border-radius: 20px;
}